# Use of this service assumes that you:
#  - you have the 4cscc-ln repository under /home/pi/code/
#  - you have a venv, stored under /home/pi/code/, which has 4cscc-ln pip installed
# If your environment differs, you should be able to make all configuration changes
# in this file.
#
# Run the following commands to enable this service: 
# sudo ln -s /home/pi/code/4cscc-ln/scripts/sensor-dashboard/sensor-dashboard.service /usr/lib/systemd/system/sensor-dashboard.service
# sudo systemctl enable sensor-dashboard
#
# You should then be able to access the dashboard at:
# http://localhost:8050
[Unit]
Description=sensor-dashboard.py server daemon
Documentation=http://github.com/gregcaporaso/4cscc-ln
After=network.target syslog.target

[Service]
Type=oneshot
ExecStart=/home/pi/code/4cscc-ln/venv/bin/python3 /home/pi/code/4cscc-ln/scripts/sensor-dashboard/sensor-dashboard.py
RemainAfterExit=true
ExecStop=/usr/bin/killall /home/pi/code/4cscc-ln/venv/bin/python3
StandardOutput=journal

[Install]
WantedBy=multi-user.target 
